@model IEnumerable<FrontEnd.Models.EducationViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAccounts.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.EducationId }, new{@class="btn btn-success"}) |
                    @Html.ActionLink("Details", "Details", new { id=item.EducationId }, new{@class="btn btn-primary"}) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.EducationId }, new{@class="btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
