
@{
    ViewData["Title"] = "Paciente";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

    <!-- Topbar Start -->
    <div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <small class="py-2"><i class="far fa-clock text-primary me-2"></i>Horario: Lunes a Viernes : 8.00 am - 6.00 pm, Sábados: 8:00 am - 2:00 pm, Domingos Cerrado </small>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                    <div class="me-3 pe-3 border-end py-2">
                        <p class="m-0"><i class="fa fa-envelope-open me-2"></i>odontopediatriacr@gmail.com</p>
                    </div>
                    <div class="py-2">
                        <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+506 8341 1162</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
        <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
        <a href="/" class="navbar-brand p-0">
            <h1 class="m-0 text-primary">
                <img src="~/img/odontologo.jpg" style="height:100px; width: 200px" />
            </h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" class="nav-item nav-link active">Inicio</a>
            </div>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                </ul>
                <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Logout" >Cerrar sesion</a>
            </div>
        </div>
    </nav>
    <h1 class="text-center">Odontólogo</h1>

        <div class="wraping">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <!---render username-->
                <h6 type="text" class="text-center" id="welcome" disabled></h6>

            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pacientes</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                        @Html.ActionLink("Pacientes", "Index", new { controller = "Patient" })
                        </li>
                        <li>
                        @Html.ActionLink("Crear citas", "Index", new { controller = "Appointment" })
                        </li>
                   </ul>
                  </li>
                  <li>
                        @Html.ActionLink("Crear tratamientos", "Index", new { controller = "Treatment" })
                  </li>
                  <li>
                        @Html.ActionLink("Clínicas", "Index", new { controller = "Clinic" })
                  </li>
                  <li>
                        @Html.ActionLink("Consejo del día", "Index", new { controller = "Advice" })
                  </li>

        </nav>
        <a id="sidebarCollapse" class="btn btn-success" style="margin-top:0px; margin-left:10px; margin-bottom: 30px; height: 40px;">
            <i class="fas fa-align-left"></i>
            <span>Menú</span>
        </a>
        <br />

        <!-- Page Content  -->
        <section class="center" id="parcial">
        </section>
    </div>
}

    <!-- Footer Start -->
<div id="foot" >
    <div class="container-fluid bg-dark text-light py-5 wow fadeInUp" data-wow-delay="0.3s" style="margin-top: -25px; padding-top: 5px;">
        <div class="container pt-5">
            <div class="row g-5 pt-4">
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-white mb-4">Enlaces</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Inicio</a>
                        <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Acerca de</a>
                        <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Nuestros Servicios</a>
                        <a class="text-light" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contáctanos</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-white mb-4">Otros Enlaces</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Inicio</a>
                        <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Clínica</a>
                        <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>¿Dónde mas encontarnos?</a>
                        <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Consejo del día</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-white mb-4">Contacto</h3>
                    <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>San Pedro Bussines Center, San Pedro, San José, Costa Rica</p>
                    <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i>odontopediatriacr@gmail.com</p>
                    <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>+506 8341 1162</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-white mb-4">Follow Us</h3>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="https://www.facebook.com/odontopediatriaCR"><i class="fab fa-facebook-f fw-normal"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded" href="https://www.instagram.com/odontopediatria_costarica/"><i class="fab fa-instagram fw-normal"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-light py-4" style="background: #051225;">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-white border-bottom" href="#">OdontopediatríaCR</a>. Todos los derechos reservados.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>
    <!-- Back to Top End -->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>